<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 작성</title>
  <style>
    /*.bbs-wrap * {outline: 1px solid red;}*/
    .bbs-wrap {
      width: 80%
    }

    .bbs-wrap .bbs-title {
      text-align: center;
      padding: 20px 0;
    }

    .bbs-wrap .bbs-content {
      display: grid;
      grid-template-columns: 100px minmax(100px, 1fr);
      gap: 5px;
    }

    .bbs-wrap .bbs-content .w100 {
      width: 100%;
      padding: 3px;
    }

    .bbs-wrap .bbs-btngrp {
      display: flex;
      justify-content: flex-end;
    }
  </style>
</head>
<body>
  <div class="bbs-wrap">
    <div class="bbs-title"><h3>게시글 작성</h3></div>
    <div class="body">
      <form action="" method="post" th:object="${addForm}">
        <div class="bbs-content">
          <div><label for="">분류</label></div>
          <div>
            <select name="" id="" class="w100" th:field="*{bcategory}">
              <option value="">==선택==</option>
              <th:block th:each="code : ${classifier}">
                <option value="" th:value="${code.code}" th:text="${code.decode}"></option>
              </th:block>
            </select>
          </div>
          <div><label>제목</label></div>
          <div><input type="text" name="" id="" class="w100" th:field="*{title}"></div>
          <div><label>작성자</label></div>
          <div><input type="text" name="" id="" class="w100" th:field="*{nickname}"></div>
          <div><label>내용</label></div>
          <div><textarea name="" id="" rows="10" class="w100" th:field="*{bcontent}"></textarea></div>
          <div><label>첨부</label></div>
          <div><input type="file" name="" id="" class="w100" multiple></div>
        </div>
        <div class="bbs-btngrp">
          <button>등록</button>
          <button type="button" id="listBtn">목록</button>
        </div>
      </form>
    </div>
  </div>
  <script>
    listBtn.addEventListener('click', e => {
      location.href = "/bbs";
    });
  </script>
</body>
</html>
