<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>
</head>
<body th:with="loginMember = ${session.loginMember}">
  <ul>
    <li><a th:href="@{|/members/${loginMember.email}/detail|}">내정보조회</a></li>
    <li><a th:href="@{|/members/${loginMember.email}/edit|}">내정보수정</a></li>
    <li><a href="/map">지도API</a></li>
    <li><a href="/covid">코비드 연령별, 성별 감염현황</a></li>
    <li><a href="/bbs">게시판</a></li>
    <li><a th:href="@{|/members/${loginMember.email}/out|}">탈퇴</a></li>
  </ul>
</body>
</html>